.fondo-gris {
    background-color: rgb(53, 58, 64);
}

.letra-verde {
    color: rgb(43, 160, 69);
}

.boton-verde {
    background-color: rgb(40, 166, 68);
}

.borde {
    border-style: solid;
    border-width: 1px;
}

.boton-manzana {
    background-color: rgb(150, 201, 62);
}

.fondo-footer {
    background-color: rgb(29, 67, 88);
}
